<% if (post && index){ %>
<li class="list-group-item title">
    <a target="_blank" href="<%- url_for(post.path)%>"><%= post.title%></a>
</li>
<% } else { %>
<%- post.content %>
<% if (post.comments){ %>
	<div class="ds-thread" data-thread-key="<%- post.path %>" data-title="<%- post.title %>" data-url="<%-  post.path %>"></div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"soul11201"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>

<% if (page.mathjax){ %>
<%- partial('mathjax') %>
<% } %>

<% } %>
<% } %>
